#lightBoxContainer {
  width: 100%;
  height: 100vh;
  background-color: #00000087;
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5 opacity ease;
  z-index: 99;
}
#lightBoxItem {
  width: 800px;
  height: 700px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  transition: all 0.6s;
  overflow: hidden;
}

#lightBoxItem i {
  font-size: 25px;
}
#close {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.8s;
}
#close:hover {
  transform: rotate(360deg);
}
.cardModal {
  width: 900px;
}
.cardModal h4 {
  margin: 10px 0 !important;
}
.cardModal h3 {
  font-family: NunitoSansMedium;
  margin: 10px 0 !important;
}

.cardModal h3 span {
  color: var(--color-secondry);
  text-decoration: line-through;
}
