@import url(fonts.css);

:root {
  --color-primary: #071c1f;
  --color-secondry: #0a9a73;
  --section-bg-1: #f2f6f7;
  --section-bg-2: #071c1f;
  --box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  --box-shadow-2: 0 0 4px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  --box-shadow-4: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --box-shadow-5: 0 8px 16px 0 rgba(93, 93, 93, 0.1);
  --box-shadow-6: 0 0 25px 2px rgba(93, 93, 93, 0.2);
  --border-color-1: #e5eaee;
  --border-color-2: #1e2021;
  --border-color-3: #576466;
  --border-color-4: #eb6954;
  --border-color-5: #bc3928;
  --border-color-6: #103034;
  --border-color-7: #d1dae0;
  --border-color-8: #f6f6f6;
  --border-color-9: #e4ecf2;
  --border-color-10: #ebeeee;
  --border-color-11: #ededed;
  --border-color-12: #e1e6ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  transition: all 1.5s;
}
li,
ul,
ol {
  list-style: none;
  padding-left: 0 !important;
}
a,
i {
  text-decoration: none !important;
  transition: all 0.5s;
  color: var(--color-primary);
  text-transform: capitalize;
}
a:hover,
i:hover {
  color: var(--color-secondry);
}
body {
  font-family: NunitoSansRegular;
  color: var(--color-primary);

  font-size: 16px;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: JosefinSansBold;

  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: var(--color-primary);
}
.p-70 {
  padding: 70px 0;
}
.mb-40 {
  margin-bottom: 40px;
}
.p-50 {
  padding: 50px 0;
}
.card {
  border: none !important;
  background-color: transparent !important;
}
.form-control{
  border-radius: 0 !important;
}
.form-control:focus {
  border-color: var(--color-secondry) !important;
  box-shadow: none !important;
}
.breadcrumb-item a{
  color: var(--color-primary);
  margin-right: 5px;
}